.products {
  padding: 120px 20px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

@media (max-width: 600px) {
  .products {
    padding: 14rem 0 0 0;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
