.header {
  background-color: #fff159;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1;
}

.header > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}

@media (max-width: 600px) {
  .header {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .header > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
}

.header > div h2 {
  font-size: 18px;
  letter-spacing: 0.2rem;
  font-weight: 400;
  padding: 0.4rem 1rem;
  border: 1px solid #242222;
}
